/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');

body {
  padding: 0 1rem;
  /* text-align: center; */
  font-size: clamp(12px, 2.5vw, 24px);
}

.SongsIndex li {
  list-style: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0;
  /* border-bottom: 1px solid orange; */
}

.SongsIndex li:before {
  content: '♪';
  color: #de8450;
}

.SongsIndex button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.SongsIndex input {
  border: 1px solid lightgray;
  padding: 0.25rem;
  font: inherit;
  font-size: 1rem;
  border-radius: 3px;
}

.SongName a {
  color: #000000;
  text-decoration: none;
}

.SongArtist {
  font-style: italic;
  color: darkgrey;
}

.SongArtist:before {
  content: ' (';
}

.SongArtist:after {
  content: ') ';
}

.SongTags {
  display: flex;
  align-items: center;
}

.SongTag {
  display: block;
  color: #fff;
  background-color: #de8450;
  padding: 0.1rem 0.5rem;
  margin-right: 0.3rem;
  font-size: 0.8rem;
  border-radius: 3px;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

h1 {
  font-family: 'Shantell Sans', cursive, sans-serif;
  text-align: center;
}

.noto-music-glyph {
  font-family: 'Noto Music', sans-serif;
}

.Controls {
  text-align: right;
}

.SongLine {
  display: block;
  font-family: 'Shantell Sans', cursive, sans-serif;
}

.SongLineComment {
  font-style: italic;
  color: darkgrey;
}

.SongChord:before {
  content: '[';
}

.SongChord:after {
  content: ']';
}

.SongChord {
  color: #de8450;
  padding: 0 0.1rem;
  font-style: normal;
  border-radius: 5px;
}

.AutoScroll {
  position: fixed;
  bottom: 0;
  right: 20px; /* Avoid overlapping with the scrollbar */
}

.AutoScroll button {
  display: block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.ChordDiagrams {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  overflow-x: auto;
  flex-wrap: wrap;
}

.ChordDiagrams h3 {
  margin: 0;
}

.ChordDiagram {
  text-align: center;
}

.ChordDiagram canvas {
  --scale: 1;
  zoom: var(--scale);
}

@media (max-width: 768px) {
  .ChordDiagram canvas {
    --scale: 0.75;
  }
}

@media (max-width: 512px) {
  .ChordDiagram canvas {
    --scale: 0.5;
  }
}
